@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/HomePageLayout/Index.cshtml";
}

<section id="billboard" class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="section-title text-center mt-4" data-aos="fade-up">Yeni Koleksiyonlar</h1>
            <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
                <p>
                    Yeni sezon için özenle seçilen parçalarla stilini yenile. Günlük kullanıma uygun, konforlu ve kaliteli ürünleri şimdi keşfet.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="swiper main-swiper py-4" data-aos="fade-up" data-aos-delay="600">
                <div class="swiper-wrapper d-flex border-animation-left">
                    <div class="swiper-slide">
                        <div class="banner-item image-zoom-effect">
                            <div class="image-holder">
                                <a href="#">
                                    <img src="~/kaira-1.0.0/images/banner-image-6.jpg" alt="Ürün" class="img-fluid">
                                </a>
                            </div>
                            <div class="banner-content py-4">
                                <h5 class="element-title text-uppercase">
                                    <a href="#" class="item-anchor">Yumuşak Deri Ceketler</a>
                                </h5>
                                <p>Şıklığı ve rahatlığı bir arada sunan deri ceketlerle kombinlerine güçlü bir dokunuş kat.</p>
                                <div class="btn-left">
                                    <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Hemen Keşfet</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="banner-item image-zoom-effect">
                            <div class="image-holder">
                                <a href="#">
                                    <img src="~/kaira-1.0.0/images/banner-image-1.jpg" alt="Ürün" class="img-fluid">
                                </a>
                            </div>
                            <div class="banner-content py-4">
                                <h5 class="element-title text-uppercase">
                                    <a href="#" class="item-anchor">Yumuşak Deri Ceketler</a>
                                </h5>
                                <p>Dayanıklı dokusu ve zarif kesimiyle her mevsim gardırobunun yıldızı.</p>
                                <div class="btn-left">
                                    <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Hemen Keşfet</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="banner-item image-zoom-effect">
                            <div class="image-holder">
                                <a href="#">
                                    <img src="~/kaira-1.0.0/images/banner-image-2.jpg" alt="Ürün" class="img-fluid">
                                </a>
                            </div>
                            <div class="banner-content py-4">
                                <h5 class="element-title text-uppercase">
                                    <a href="#" class="item-anchor">Yumuşak Deri Ceketler</a>
                                </h5>
                                <p>Minimal detaylar, modern çizgiler ve yüksek konfor bir arada.</p>
                                <div class="btn-left">
                                    <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Hemen Keşfet</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="banner-item image-zoom-effect">
                            <div class="image-holder">
                                <a href="#">
                                    <img src="~/kaira-1.0.0/images/banner-image-3.jpg" alt="Ürün" class="img-fluid">
                                </a>
                            </div>
                            <div class="banner-content py-4">
                                <h5 class="element-title text-uppercase">
                                    <a href="#" class="item-anchor">Yumuşak Deri Ceketler</a>
                                </h5>
                                <p>Hafif yapısı sayesinde gün boyu özgür hareket et.</p>
                                <div class="btn-left">
                                    <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Hemen Keşfet</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="banner-item image-zoom-effect">
                            <div class="image-holder">
                                <a href="#">
                                    <img src="~/kaira-1.0.0/images/banner-image-4.jpg" alt="Ürün" class="img-fluid">
                                </a>
                            </div>
                            <div class="banner-content py-4">
                                <h5 class="element-title text-uppercase">
                                    <a href="#" class="item-anchor">Kısa Triko Kazak</a>
                                </h5>
                                <p>Sıcak tutan dokusu ve modern görünümüyle her kombine uyum sağlar.</p>
                                <div class="btn-left">
                                    <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Hemen Keşfet</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="banner-item image-zoom-effect">
                            <div class="image-holder">
                                <a href="#">
                                    <img src="~/kaira-1.0.0/images/banner-image-5.jpg" alt="Ürün" class="img-fluid">
                                </a>
                            </div>
                            <div class="banner-content py-4">
                                <h5 class="element-title text-uppercase">
                                    <a href="#" class="item-anchor">Yumuşak Deri Ceketler</a>
                                </h5>
                                <p>Günlük stiline zahmetsizce şıklık katan zamansız parçalar.</p>
                                <div class="btn-left">
                                    <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Hemen Keşfet</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="icon-arrow icon-arrow-left">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </div>
            <div class="icon-arrow icon-arrow-right">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("HomePageService")
@await Component.InvokeAsync("HomePageCategory")
@await Component.InvokeAsync("HomePageLastProducts")
@await Component.InvokeAsync("HomePageVideo")
@await Component.InvokeAsync("HomePageTestimonial")

<section id="related-products" class="related-products product-carousel py-5 position-relative overflow-hidden">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase">Bunları da Sevebilirsiniz</h4>
            <a href="#" class="btn-link">Tüm Ürünleri Gör</a>
        </div>

        <div class="swiper product-swiper open-up" data-aos="zoom-out">
            <div class="swiper-wrapper d-flex">

                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder">
                            <a href="#">
                                <img src="~/kaira-1.0.0/images/product-item-5.jpg" alt="Ürün" class="product-image img-fluid">
                            </a>
                            <a href="#" class="btn-icon btn-wishlist" aria-label="Favorilere ekle">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="#">Koyu Çiçekli Tek Parça</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Sepete ekle"><span>₺3.190,00</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder">
                            <a href="#">
                                <img src="~/kaira-1.0.0/images/product-item-6.jpg" alt="Ürün" class="product-image img-fluid">
                            </a>
                            <a href="#" class="btn-icon btn-wishlist" aria-label="Favorilere ekle">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="#">Bol Kesim Gömlek</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Sepete ekle"><span>₺1.850,00</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder">
                            <a href="#">
                                <img src="~/kaira-1.0.0/images/product-item-7.jpg" alt="Ürün" class="product-image img-fluid">
                            </a>
                            <a href="#" class="btn-icon btn-wishlist" aria-label="Favorilere ekle">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="#">Pamuklu Ekru Gömlek</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Sepete ekle"><span>₺2.150,00</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder">
                            <a href="#">
                                <img src="~/kaira-1.0.0/images/product-item-8.jpg" alt="Ürün" class="product-image img-fluid">
                            </a>
                            <a href="#" class="btn-icon btn-wishlist" aria-label="Favorilere ekle">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="#">El Örgüsü Kısa Kazak</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Sepete ekle"><span>₺1.590,00</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder">
                            <a href="#">
                                <img src="~/kaira-1.0.0/images/product-item-1.jpg" alt="Ürün" class="product-image img-fluid">
                            </a>
                            <a href="#" class="btn-icon btn-wishlist" aria-label="Favorilere ekle">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="#">El Örgüsü Kısa Kazak</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Sepete ekle"><span>₺2.250,00</span></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="icon-arrow icon-arrow-left">
            <svg width="50" height="50" viewBox="0 0 24 24">
                <use xlink:href="#arrow-left"></use>
            </svg>
        </div>
        <div class="icon-arrow icon-arrow-right">
            <svg width="50" height="50" viewBox="0 0 24 24">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </div>
    </div>
</section>

@await Component.InvokeAsync("HomePageLogo")
@await Component.InvokeAsync("HomePageSubscriber")
@await Component.InvokeAsync("HomePagePhotoGallery")

<footer id="footer" class="mt-5">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between py-5">
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-001">
                    <div class="footer-intro mb-4">
                        <a href="#">
                            <img src="~/kaira-1.0.0/images/main-logo.png" alt="logo">
                        </a>
                    </div>
                    <p>
                        Günlük hayatına eşlik eden konforlu ve özgün tasarımlar. Kaliteyi erişilebilir fiyatlarla sunuyoruz.
                    </p>
                    @await Component.InvokeAsync("HomePageSocialMedia")
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-002">
                    <h5 class="widget-title text-uppercase mb-4">Hızlı Bağlantılar</h5>
                    <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                        <li class="menu-item"><a href="#" class="item-anchor">Ana Sayfa</a></li>
                        <li class="menu-item"><a href="#" class="item-anchor">Hakkımızda</a></li>
                        <li class="menu-item"><a href="#" class="item-anchor">Hizmetler</a></li>
                        <li class="menu-item"><a href="#" class="item-anchor">Ürün Detayı</a></li>
                        <li class="menu-item"><a href="#" class="item-anchor">İletişim</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-003">
                    <h5 class="widget-title text-uppercase mb-4">Yardım & Bilgi</h5>
                    <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                        <li class="menu-item"><a href="#" class="item-anchor">Siparişi Takip Et</a></li>
                        <li class="menu-item"><a href="#" class="item-anchor">İade & Değişim</a></li>
                        <li class="menu-item"><a href="#" class="item-anchor">Kargo & Teslimat</a></li>
                        <li class="menu-item"><a href="#" class="item-anchor">Bize Ulaşın</a></li>
                        <li class="menu-item"><a href="#" class="item-anchor">Bizi Kolayca Bulun</a></li>
                        <li class="menu-item"><a href="#" class="item-anchor">SSS</a></li>
                    </ul>
                </div>
            </div>

            @await Component.InvokeAsync("HomePageContactUs")
        </div>
    </div>

    <div class="border-top py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex flex-wrap">
                    <div class="shipping">
                        <span>Kargo İş Ortaklarımız:</span>
                        <img src="~/kaira-1.0.0/images/arct-icon.png" alt="kargo">
                        <img src="~/kaira-1.0.0/images/dhl-logo.png" alt="kargo">
                    </div>
                    <div class="payment-option">
                        <span>Ödeme Seçenekleri:</span>
                        <img src="~/kaira-1.0.0/images/visa-card.png" alt="kart">
                        <img src="~/kaira-1.0.0/images/paypal-card.png" alt="kart">
                        <img src="~/kaira-1.0.0/images/master-card.png" alt="kart">
                    </div>
                </div>
                <div class="col-md-6 text-end">
                    <p>
                        © 2022 Kaira. Tüm hakları saklıdır. Tasarım: <a href="https://templatesjungle.com" target="_blank">TemplatesJungle</a> — Dağıtım: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
