@model CreateContactCommand
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
}

<div class="card-body">
    <h5 class="card-title fw-semibold mb-4">İletişim Bilgileri Ekleme</h5>
    <div class="card">
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Mail Adresi</label>
                    <input type="text" asp-for="Mail" class="form-control">
                    <span asp-validation-for="Mail" class="form-text text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Telefon Numarası</label>
                    <input type="text" asp-for="PhoneNumber" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="form-text text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Ekle</button>
            </form>
        </div>
    </div>
</div>


