@model GetProductByIdQueryResult
@{
    ViewData["Title"] = "UpdateProduct";
}

<h3>Ürün Güncelle</h3>

<form method="post">
    <input type="hidden" asp-for="ProductId" />
    <div class="mb-3">
        <label>Ürün Adı</label>
        <input type="text" asp-for="ProductName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Ürün Görseli</label>
        <input type="text" asp-for="ImageUrl" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Ürün Fiyatı</label>
        <input type="number" asp-for="Price" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Kategori</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
            <option disabled>Kategori Seçiniz</option>
        </select>
    </div>
    <button class="btn btn-primary">Güncelle</button>
</form>
