@model List<GetPhotoGalleriesQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
}


@{
    int count = 0;
}
<div class="card">
    <div class="card-body">
        <div class="card-title">
            <div class="row">
                <div class="col">
                    <h4>Galeri</h4>
                </div>
                <div class="col text-end">
                    <a href="/Admin/PhotoGallery/CreatePhotoGallery" class="btn btn-primary ">Yeni Görsel</a>
                </div>
            </div>
        </div>

        <table class="table table-bordered">

            <tr>
                <th>#</th>
                <th>Görsel</th>
                <th>İşlemler</th>
            </tr>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th>@count</th>
                    <td><img src="@item.ImageUrl" class="w-50 h-50" /></td>
                    <td>
                        <a href="/Admin/PhotoGallery/UpdatePhotoGallery/@item.PhotoGalleryId" class="btn btn-warning">Güncelle</a>
                        <a href="/Admin/PhotoGallery/DeletePhotoGallery/@item.PhotoGalleryId" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

